.benefit {
  width: 1440px;
  height: 650px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  .boxes {
    width: 1280px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    .firstBox {
      width: 55%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .firstBenefit {
        width: 400px;
        height: 90px;
        display: flex;
        gap: 30px;
        .circle {
          width: 80px;
          height: 50px;
          border-radius: 50%;
          background-color: rgb(233, 233, 233);
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .secondBox {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h2 {
        font-size: 55px;
        width: 540px;
      }
      p {
        font-size: 20px;
        width: 400px;
      }
      button {
        width: 213px;
        height: 56px;
        font-size: 16px;
        border: none;
        background-color: #2e4fd7;
        color: white;
        transition: 0.5s;
        &:hover {
          background-color: white;
          color: #2e4fd7;
          transition: 0.5s;
        }
      }
    }
  }
}
